// FONT VARIABLES
$font: "Cera Pro", sans-serif;

@font-face {
  font-family: "Cera Pro";
  src: url("./CeraPro/CeraPro-Light.woff2") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./CeraPro/CeraProRegular.woff2") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./CeraPro/CeraProMedium.woff2") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./CeraPro/CeraPro-Bold.woff2") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./CeraPro/CeraPro-Black.woff2") format("woff");
  font-weight: 700;
}

// Colors:
$dark: #333232;
$light: #9e9ea7;
$grey-1: #6e6d7a;
$divider: #edf0f2;
$blank: #fff;
$primary: #108173;
$secondary: #07508b;

.App {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  font-family: $font;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  &_start {
    justify-content: flex-start;
  }
  &_end {
    justify-content: flex-end;
    display: flex;
  }
  &_date {
    font-family: $font;
    color: $dark;
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
  }
  &_divider {
    height: 1px;
    width: 100%;
    background-color: $divider;
  }
}

.configure {
  font-family: $font;
  color: $secondary;
  text-decoration: underline;
  font-weight: 300;
  cursor: pointer;
}

h1 {
  font-family: $font;
  font-weight: 600;
}

.time {
  color: $light;
  font-weight: 400;
  font-size: 14px;
  margin-right: 26px;
  width: 20%;
}

.title {
  color: $dark;
  font-size: 18px;
  font-weight: 500;
  max-width: 141px;
  margin-right: auto;
}

.join {
  padding: 5px 42px;
  background-color: $primary;
  color: $blank;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 2px 16px 0px rgba($primary, 0.2);
  &:active,
  &:visited {
    text-decoration: none;
    color: $blank;
  }
  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px 20px 0px rgba($primary, 0.3);
  }
}

.cleanLink {
  &:active,
  &:visited {
    text-decoration: none;
    color: $secondary;
  }
}

.help {
  color: $light;
  font-size: 14px;
  font-weight: 500;
}

.welcome {
  color: $primary;
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.description {
  color: $dark;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.instruction {
  color: $grey-1;
  font-size: 14px;
  margin-bottom: 0;
}

ol {
  padding-inline-start: 16px;
}

.Spinner {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  &_img {
    height: 20px;
    width: auto;
    cursor: pointer;
    margin-right: 24px;
  }
}
